@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "IceTea";
  font-display: swap;
  src: url("../fonts/icetea.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/ptsans-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/ptsans-bold.woff2") format("woff2");
}
